.App {
  text-align: center;
}

/*NAVBAR*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  background-color: whitesmoke;
  overflow: hidden;
  overflow-y: scroll;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
}

.nav img {
  height: 150px;
  position: relative;
  left: 20px;
}

.nav-buttons {
  display: flex;
  list-style: none;
}

.nav-buttons li {
  padding: 10px;
  text-decoration: none;
  color: black;
  margin: 0px 10px;
  font-family: "Montserrat", sans-serif;
  border-radius: 18px;
  transition: all 0.3s ease-in-out;
}

.nav-buttons li:hover {
  background-color: #333333;
  color: whitesmoke;
}

/*Banner Image*/

.banner-img {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.banner-img img {
  position: relative;
  width: 100%;
  bottom: 280px;
}
.banner-text1 {
  color: whitesmoke;
  position: relative;
  z-index: 1;
  padding-left: 10px;
  bottom: 250px;
  font-family: "Montserrat Subrayada", sans-serif;
}
.banner-text2 {
  color: whitesmoke;
  position: relative;
  z-index: 1;
  bottom: 250px;
  padding-left: 10px;
  font-size: 40px;
  font-family: "Montserrat Subrayada", sans-serif;
}

/*Banner main CONTENT*/

.main-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  position: relative;
  bottom: 60px;
}

figure {
  text-align: center;
  color: lightgray;
  padding: 0px 10px;
}
.title {
  margin-top: 20px;
  font-size: 20px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}
.main-text {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  max-width: 250px;
}
.design-box {
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 70%;
  z-index: -15;
  height: 600px;
}
.design {
  width: 1400px;
  height: 500px;
  background-color: rgb(19, 19, 19);
  position: relative;
  right: 15px;
  transform: rotate(3deg);
}

/*EXPLANATIONS */
.explanation-container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  width: 100%;
  height: 450px;
  overflow: hidden;
}
.ex-div-container {
  height: 100%;
  width: 50%;
  position: relative;
  top: 28px;
  right: 21px;
  overflow: hidden;
  transform: rotate(3deg);
}
.try {
  height: 100%;
  position: relative;
  right: 30px;
  bottom: 40px;
  transform: rotate(-3deg);
}
.explanation-text {
  padding-top: 100px;
  padding-right: 20px;
}

.explanation-text1 {
  font-family: "Montserrat Subrayada", sans-serif;
  text-align: right;
  padding: 10px 40px;
}
.explanation-text2 {
  font-size: 35px;
  font-family: "Montserrat Subrayada", sans-serif;
  padding: 28px 10px;
}
.explanation-text3 {
  font-size: 45px;
  text-align: left;
  font-family: "Montserrat Subrayada", sans-serif;
  padding: 10px 45px;
}

/*SEPARATOR */

.separator {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.box1 {
  height: 100%;
  width: 73%;
  background-color: rgb(19, 19, 19);
  margin-bottom: 500px;
  display: flex;
  align-items: center;
}

.box1-text {
  color: whitesmoke;
  font-family: "Montserrat Subrayada", sans-serif;
  padding-left: 80px;
}

.box2 {
  height: 100%;
  width: 20%;
  background-color: rgb(19, 19, 19);
  margin-bottom: 500px;
}

/*FOOTER */

footer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
}

.footer-box {
  width: 33%;
  font-family: "Montserrat", sans-serif;
}

.footer-box h2 {
  padding: 20px;
  text-align: center;
}
.footer-box p {
  padding: 15px 0px;
  text-align: center;
  font-weight: bold;
}
.info {
  margin-top: 15px;
}
.footer-text {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  color: black;
}

/*QUIENES SOMOS*/

.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*
fixed = parallax effect
scroll = normal
*/
  background-attachment: fixed;
}

.pimg1 {
  background-image: url("./Resources/media/sevilla-desde-arriba.jpg");
  min-height: 70vh;
}

.pimg2 {
  background-image: url("./Resources/media/calle-bares.jpg");
  min-height: 70vh;
}

.pimg3 {
  background-image: url("./Resources/media/casa-rustica.jpg");
  min-height: 70vh;
}

.section {
  text-align: center;
  padding: 50px 80px;
  min-height: 20vh;
  background-color: rgb(19, 19, 19);
  color: whitesmoke;
}
.section h2 {
  padding-bottom: 20px;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: black;
}

.ptext .border {
  background-color: black;
  color: whitesmoke;
  padding: 10px;
  border-radius: 13px;
  font-family: "Montserrat Subrayada", sans-serif;
}

#sendbutton {
  -webkit-appearance: none;
  padding: 10px;
  outline: none;
  color: white;
  border-radius: 18px;
  background-color: #333333;
  border: none;
  cursor: pointer;
}
